.gitignore
to_dos.txt

venv/
.idea/

package.json
package-lock.json
build/
node_modules/
instrucciones_para_minificar.txt

/assets/test/
/assets/prod/tilesets_and_maps/extrusion_instructions.txt
/assets/prod/atlas/Instrucciones_para_armar_el_atlas.txt
/assets/prod/atlas/anims_ui_frames/material-icons.txt
/assets/prod/audio/source/music_edit_src.aup3
