/* ---------------- GLOBAL CONFIG ------------------- */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=PT+Sans&display=swap');

html,
body,
#game-container {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    position: relative;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.9rem;
    line-height: 1.5;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
p {
  color: #333;
  text-align: justify;
}

*::selection {
  background: teal;
  color: white;
  text-shadow: none;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ----------------------------------------- */
/* ---------------- GAME ------------------- */
/* ----------------------------------------- */

/*LOADING OVERLAY*/
#loading {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 101;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#loading-wrapper {
    position: relative;
    top: -10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#loading-wrapper img {
    height: 82px;
    margin-bottom: 27px;
	background-color: gray;
	padding: 10px;
}

/* ----------GAME MENU---------- */
#game-menu-container {
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
#pic-circ {
    border-radius: 50%;
    border: 1px solid #666;
    object-fit: cover;
    width: 58px;
    transition: all .2s ease-in-out;
}
#pic-circ:hover {
    transform: scale(1.1);
    transform-origin: center center;
    cursor: pointer;
}

#game-menu {
    /*display: none;*/
    padding: 10px;
    margin-left: 5px;
    background-color: white;
    list-style-type: none;
    border-radius: 5px;
    transform: translateY(-5px);
}
#game-menu li {
    border-radius: 4px;
    transition: background-color 0.2s ease-out;
}
#game-menu li.active-link {
    background-color: lightgray;
}
#game-menu li.active-link a {
    cursor: default;
}
#game-menu li:not(:first-child) {
    margin-top: 3px;
}
#game-menu a {
    text-decoration: none;
    color: #666;
    line-height: 1.5;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    display: block;
    padding: 3px 7px;
}
#game-menu li:not(.active-link):hover {
    background-color: #E5E4E2;
}

#game-container {
    z-index: 1;
}

/* ----------------------------------------- */
/* ---------------- SITE ------------------- */
/* ----------------------------------------- */

/* ---------NAVBAR--------- */


/* ---------HERO--------- */
.hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 50px;
}
.hero {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 8.2rem;
    margin-top: -10px;
    text-transform: uppercase;
}
img {
    transition: filter 0.2s ease;
}
img:hover {
    filter: brightness(1.05);
}


/* ---------HOME DESCRIPTION--------- */
.grid-2 {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
}

.home-description p {
    padding: 12px 0;
}