/* ---------------- GLOBAL CONFIG ------------------- */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Inconsolata&display=swap');

/* Color schemes (for light and dark mode) */
html, html[data-theme="light"] {
	--color-background: #A9A9A9;
    --color-toolbars: #878787;
    --color-text: #000;
	--color-emphasis: #861388;
}
html[data-theme="dark"] {
    --color-background: #21262d;
    --color-toolbars: #484f58;
	--color-text: #c9d1d9;
    --color-emphasis: #ccffff
}
@media (prefers-color-scheme: dark) {
    html {
        --color-background: #21262d;
        --color-toolbars: #484f58;
        --color-text: #c9d1d9;
        --color-emphasis: #ccffff
    }
}

html,
body,
#game-container {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    position: relative;
    font-family: 'Inconsolata', monospace;
    font-size: 1.7rem;
    line-height: 1.5;
	background-color: var(--color-background);
}

a {
    color: var(--color-emphasis);
    text-decoration: none;
}
p {
    color: var(--color-text);
    text-align: justify;
	padding-bottom: 10px;
}
h3, h4, li {
    color: var(--color-text);
}

*::selection {
    background: var(--color-toolbars);
    color: var(--color-emphasis);
    text-shadow: none;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ----------------------------------------- */
/* ---------------- GAME ------------------- */
/* ----------------------------------------- */

/*LOADING OVERLAY*/
#loading {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 101;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loading-wrapper {
    position: relative;
    top: -10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loading-wrapper img {
    height: 82px;
    margin-bottom: 27px;
	background-color: gray;
	padding: 10px;
}

/* ----------GAME MENU---------- */
#game-menu-container {
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#game-menu-container #pic-circ {
    border-radius: 50%;
    border: 1px solid #666;
    object-fit: cover;
    width: 58px;
    transition: all .2s ease-in-out;
}

#game-menu-container #pic-circ:hover {
    transform: scale(1.1);
    transform-origin: center center;
    cursor: pointer;
}

#game-menu {
    /*display: none;*/
    padding: 10px;
    margin-top: 3px;
    transform: translateX(3px);
    background-color: var(--color-toolbars);
    list-style-type: none;
    border-radius: 5px;
    border: 1px solid #666;
}

#game-menu li {
    border-radius: 4px;
    transition: background-color 0.2s ease-out;
}

#game-menu li.active-link {
    background-color: lightgray;
}

#game-menu li.active-link a {
    cursor: default;
    color: var(--color-emphasis);
}

#game-menu li:not(:first-child) {
    margin-top: 3px;
}

#game-menu a {
    text-decoration: none;
    color: white;
    line-height: 1.5;
    font-family: monospace;
    font-size: 1.5rem;
    display: block;
    padding: 3px 7px;
}

#game-menu li:not(.active-link):hover {
    background-color: var(--color-background);
}

#game-container {
    z-index: 1;
}


/* ----------------------------------------- */
/* ---------------- SITE ------------------- */
/* ----------------------------------------- */

/* ---------NAVBAR--------- */
#navbar {
	position: fixed;
	top: 0;
	right: 0;
	/*background-color: rgba(0,0,0,0.2);*/
    background-color: var(--color-toolbars);
    z-index: 101;
	max-height: 50px;
    overflow: hidden;
    transition: max-height 0.4s ease;
}
#navbar:hover {
    max-height: 100%;
}

#navbar ul {
	list-style-type: none;
    /*transform: translateY(-43px); handled in js*/
    transition: transform 0.5s ease;
    /*height: 100%;*/
    width: 100%;
    padding: 10px 35px 15px;
}
#navbar ul:hover {
    transform: translateY(0);
}

#navbar ul li {
    height: 35px;
    min-height: 35px;
    max-height: 35px;
    margin: 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar ul a {
    font-size: 2rem;
    display: block;
    text-align: center;
}
#navbar ul a.active {
    color: white;
}

@media screen and (max-width:768px),
       screen and (max-height: 740px) {
    #navbar {
        top: 44px;
        border-bottom-left-radius: 5px;
    }
    #navbar ul {
        padding: 10px 12px 15px;
    }
    #navbar ul a {
        font-size: 1.8rem;
    }
}

/* ---------LEFT ASIDE--------- */
#tools {
    position: fixed;
	top: 0;
	left: 0;
	/*background-color: rgba(0,0,0,0.2);*/
    background-color: var(--color-toolbars);
    z-index: 100;
    border-bottom-right-radius: 5px;
}

#tools ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 2.6rem;
}

#tools ul li {
    width: 75%;
    height: 34px;
    margin: 4px 5px;
    padding: 0 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-out;
}

#tools #lang-select {
    color: black;
    font-weight: bold;
    font-size: 1.8rem;
}
#tools #github {
    color: #333;
}
#tools #researchgate {
    color: #0cb;
}
#tools #scholar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    background-color: #4285F4;
    color: white;
}
#tools #philpapers {
    position: relative;
    color: #074ba9;
}
#tools #philpapers::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 3px;
    height: 20px;
    width: 4.2px;
    background-color: green;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 2px;
}
#tools #orcid {
    color: #a9c518;
}
#tools .outside-link:hover {
    background-color: white;
}
#tools #light-mode {
    color: wheat;
}
#tools #dark-mode {
    color: #ccffff;
}
#dark-mode-li, #light-mode-li {
    /* Reactivated via javascript */
    display: none;
}
#lang-select-li {
    display: none;
}

@media screen and (max-width: 1543px) {
    #tools {
        top: 50%;
        transform: translateY(-50%);
        left: unset;
        right: 0;
    }
}
@media screen and (max-width:768px),
       screen and (max-height: 740px) {
    #tools {
        top: 0;
        transform: translateY(0);
        left: 0;
        height: 45px;
        width: 100%;
        border-bottom-right-radius: 0;
    }
    #tools ul {
        flex-direction: row;
        justify-content: space-around;
        padding: 2px 10px;
    }
}


/* ---------HERO--------- */
.hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 60px;
}

.hero-wrapper > img {
	height: 170px;
    filter: brightness(1.05);
}

.hero {
    color: var(--color-text);
    font-family: 'Dosis', monospace;
    font-weight: bold;
    font-size: 8.2rem;
    padding: 0 10px;
    margin-top: -10px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
}

@media screen and (max-width:768px) {
    .hero-wrapper {
        margin-top: 90px;
    }
    .hero {
        font-size: 5rem;
        margin-top: 0;
    }
}


/* ---------SECTIONS--------- */
section, div#download-cv-sect {
	position: relative;
    width: 90%;
	max-width: 1380px;
	padding: 35px;
	margin: 30px auto 60px;
	border: 2px dashed var(--color-emphasis);
	border-radius: 20px;
}

section h2 {
    position: absolute;
    top: 0;
    left: -25px;
    font-family: 'Dosis', monospace;
    font-size: 3rem;
    color: var(--color-emphasis);
    text-transform: uppercase;
    transform: rotate(270deg) translateX(-100%);
    transform-origin: left;
}

section img {
	margin: 5px 0;
}

section ul {
	margin-left: 20px;
}

section h3 {
    margin-bottom: 5px;
    font-size: 1.1em;
}
section h3:not(:first-of-type) {
	margin-top: 25px;
}

/* Handled in js (since if js is disabled I want all to be shown at once)
section ul.expandable-list li:nth-child(n+6) {
    display: none;
}*/

section .seemore {
	display: none;
	color: var(--color-emphasis);
	margin-top: 5px;
	cursor: pointer;
}

@media screen and (max-width:768px) {
    section {
        width: auto;
        margin: 32px 25px 60px 50px;
    }

    /*Move the section titles down a little so they are not covered by the tools nav*/
    section h2 {
        transform: rotate(270deg) translateX(-124%);
    }
    /*The intro one a little bit further down*/
    #intro h2 {
        transform: rotate(270deg) translateX(-130%);
    }
}

/* ---------Download CV--------- */
div#download-cv-sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div#download-cv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
div#download-cv i {
    font-size: 8rem;
}
div#download-cv a:first-child {
    margin-right: 20px;
}
div#download-cv div {
    height: 60px;
    padding-left: 20px;
    border-left: 1px solid var(--color-emphasis);
    font-size: 2.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
div#download-cv-sect p {
    text-align: center;
    max-width: 65%;
}

@media screen and (max-width:768px) {
    div#download-cv i {
        font-size: 5rem;
    }
    div#download-cv div {
        height: 40px;
        font-size: 2rem;
    }
    div#download-cv-sect p {
        text-align: justify;
        font-size: 1.3rem;
        max-width: 90%;
    }
}

/* ---------Footer--------- */
footer {
    width: 100%;
    height: 100px;
    padding-bottom: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
}
footer a, footer span {
    text-align: center;
}